name: Continuous integration

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  merge_group:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  checks:
    name: Check code
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f
      - name: Set up Rust
        run: rustup default nightly
      - name: Install development tools
        uses: taiki-e/install-action@1eda5d19daf935cb04d43ac3bb1b761ec2c8d8f8
        with:
          tool: cargo-deny@0.14.21, cargo-udeps@0.1.47, cargo-hack@0.6.28
      - name: Install Rust linters
        run: rustup component add clippy rustfmt
      - name: Run checks
        run: |
          cargo fmt --check
          cargo hack --feature-powerset check
          cargo hack --feature-powerset clippy --locked -- -D warnings
          cargo deny check
          cargo udeps
  tests:
    name: Test on ${{ matrix.os.name }} (${{ matrix.channel }})
    runs-on: ${{ matrix.os.value }}
    strategy:
      matrix:
        os:
          - name: Linux
            value: ubuntu-latest
          - name: Windows
            value: windows-latest
          - name: macOS
            value: macos-latest
        channel:
          - stable
          - beta
          - nightly
    steps:
      - name: Check out repository
        uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f
      - name: Set up Rust
        run: rustup default ${{ matrix.channel }}
      - name: Install development tools
        uses: taiki-e/install-action@1eda5d19daf935cb04d43ac3bb1b761ec2c8d8f8
        with:
          tool: cargo-hack@0.6.28
      - name: Run tests
        run: cargo hack --feature-powerset test
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@8459bc0c7e3759cdf591f513d9f141a95fef0a8f
      - name: Set up Rust
        run: rustup default nightly
      - name: Install development tools
        uses: taiki-e/install-action@1eda5d19daf935cb04d43ac3bb1b761ec2c8d8f8
        with:
          tool: cargo-llvm-cov@0.6.9, cargo-hack@0.6.28
      - name: Create directories
        run: mkdir -p target/llvm-cov/lcov
      - name: Generate code coverage
        run: |
          cargo hack --feature-powerset llvm-cov --no-report --branch --workspace
          cargo llvm-cov report --fail-under-lines 85 --lcov --output-path target/llvm-cov/lcov/${{ github.event.repository.name }}.info
      - name: Upload code coverage
        uses: romeovs/lcov-reporter-action@4cf015aa4afa87b78238301f1e3dc140ea0e1ec6
        if: github.event_name == 'pull_request'
        with:
          lcov-file: target/llvm-cov/lcov/${{ github.event.repository.name }}.info
          delete-old-comments: true
  success:
    name: Success
    needs: [checks, tests, coverage]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - name: Check jobs
        uses: re-actors/alls-green@release/v1
        with:
          jobs: ${{ toJSON(needs) }}
